* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    max-width: 1400px;
    padding: 0;
    margin: 0 auto;
}

main {
    min-height: calc(100vh - 100px);
}

i {
    padding: 0;
    margin: 0;
}

.footer {
    text-align: center;
    width: 100%;
    height: 60px;
    color: var(--text-bright);
}

.header, 
.categories-preview,
.trending-section__btn,
.trending-section__header,
.categories-preview__header,
.generic-section__header,
.generic-section__content {
    margin-left: 10px;
    margin-right: 10px;
}

.image-skeleton {
    min-width: 180px;
    min-height: 270px;
    
    border-radius: 8px;
    animation: infinite skeleton-for-loading 1s;
    background: var(--background);
}
.image-skeleton:nth-child(odd) {
    animation: infinite skeleton-for-loading 1s reverse;
}

.btn-skeleton {
    width: 120px;
    height: 40px;

    border-radius: 6px;
    animation: infinite skeleton-for-loading 1s;
    background: var(--background);
}

.movies-container {
    position: relative;
    max-width: 180px;
}
.movies-container__movie {
    min-height: 270px;
    max-height: 270px;
    max-width: 180px;


    border-radius: 8px;
}
.movies-container__desc {
    text-align: center;
}
.movies-container__title {
    font-weight: bold;
}
.movies-container__score {
    font-weight: bold;
    color: var(--sunshine);
}

.header {
    display: flex;
    flex-direction: column;
}
.header__title {
    margin-bottom: 0;
    line-height: 1.4rem;
    color: var(--sunshine);
}
.header__subtitle {
    margin-bottom: .8rem;
    font-weight: bold;
    color: var(--text-bright);
}

.search-bar-section {
    display: flex;
}
.search-bar-section__btn {
    background: var(--background);
}

.trending-section {
    display: flex;
    flex-direction: column;
}
.trending-section__preview {
    display: flex;
    padding: 10px;
    gap: 10px;
    max-height: 400px;
    max-width: 100%;

    overflow-x: scroll;
    background: var(--background-alt);
}
.trending-section__btn {
    margin-top: 1rem;
    width: 100px;
    padding: 8px 2px;
    background: var(--background);
}
.trending-section__btn:hover {
    color: var(--background);
    background: var(--form-text);
}

.categories-preview__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1100px;
}
.categories-preview__category {
    padding: 0;
    width: 120px;
    height: 40px;

    font-size: .8em;
    font-weight: bold;
    border-radius: 6px;
    background: var(--variable);
}
.categories-preview__category:hover {
    transform: scaleX(1.1);
    background: var(--variable);
}
.categories-preview__category:focus {
    box-shadow: none;
}

.generic-section__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    padding: 10px;
    gap: 1rem;

    border-radius: 8px;
    background: var(--background-alt);
}
.generic-section__content .movies-container,
.generic-section__content .movies-container__movie {
    max-width: 300px;
    min-height: 400px;
}
.generic-section__content > .image-skeleton {
    width: 100%;
    height: 370px;
}

.d-none {
    display: none;
}

@keyframes skeleton-for-loading {
    0%, 100% {
        opacity: 100%;
    }
    50% {
        opacity: 50%;
    }
}