@media screen and (min-width: 456px) {
    .generic-section__content {
        justify-content: center;
    }
    .generic-section__content > .image-skeleton {
        height: 270px;
        flex-basis: 180px;
    }
    .generic-section__content .movies-container,
    .generic-section__content .movies-container__movie {
        max-width: 180px;
        min-height: 270px;
    }
}

@media screen and (min-width: 960px) {
    .trending-section__preview {
        border-radius: 8px;
    }

    .movies-container__movie:hover {
        transform: scale(1.04);
    }
}